[Unit]
Description="Emacs"
X-RestartIfChanged=false

[Service]
Type=notify
ExecStart=/usr/bin/zsh -l -c /usr/bin/emacs --fg-daemon
SuccessExitStatus=15
Restart=on-failure
ExecStartPost=/usr/bin/chmod --changes -w %t/emacs
ExecStopPost=/usr/bin/chmod --changes +w %t/emacs

[Install]
WantedBy=graphical-session.target
