[Unit]
Description="Numlockx"
After=graphical-session-pre.target
PartOf=graphical-session.target

[Install]
WantedBy=graphical-session.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/bin/numlockx
