[Unit]
Description="Picom X11 compositor"
After=graphical-session-pre.target
PartOf=graphical-session.target

[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=/usr/bin/picom
RestartSec=3
Restart=always
