[Unit]
Description="Picom X11 compositor"
After=default.target

[Install]
WantedBy=default.target

[Service]
ExecStart=/usr/bin/picom
RestartSec=3
Restart=always
