[Unit]
Description="Unclutter"
After=default.target

[Install]
WantedBy=default.target

[Service]
ExecStart=/usr/bin/unclutter --ignore-scrolling --jitter 20
PassEnvironment="DISPLAY"
RestartSec=3
Restart=always
