[Unit]
Description="xss-lock service"
After=default.target

[Install]
WantedBy=default.target

[Service]
ExecStart=/usr/bin/xss-lock --transfer-sleep-lock -- /usr/bin/betterlockscreen --span --lock
